<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/style/home.css">
</head>
<body>
    <div class="cards-list">
  
        <div class="card" onclick="window.location='juego.html'">
          <div class="card_image"> <img src="../resources/images/unjugador.png" /> </div>
          <div class="card_title title-white">
            <p>JUGAR</p>
          </div>
        </div>
        
        <div class="card" onclick="window.location='multijugador.html'">
          <div class="card_image">
            <img src="../resources/images/multijugador.png" />
            </div>
          <div class="card_title title-white">
            <p>MULTIJUGADOR</p>
          </div>
        </div>
        
        <div class="card" onclick="window.location='ranking.html'">
          <div class="card_image">
            <img src="../resources/images/clasificacion.png" />
          </div>
          <div class="card_title title-white">
            <p>CLASIFICACIÓN</p>
          </div>
        </div>
          
        <div class="card" onclick="window.location='profile.html'">
          <div class="card_image">
            <img src="../resources/images/perfil.png" />
            </div>
          <div class="card_title title-white">
            <p>PERFIL</p>
          </div>
          </div>

        
      </div>

      <script src="../controller/seguridad.js"></script>
      <script src="../controller/analiticas.js"></script>
      <script src="../controller/perfil.js"></script>
        
</body>
</html>